<div class="kuiLocalNav">
    <div class="kuiLocalNavRow">
        <!-- Top left corner slot, e.g. breadcrumbs, title. -->
        <div class="kuiLocalBreadcrumbs">
            <!-- ngRepeat: crumb in breadcrumbs -->
            <div class="kuiLocalBreadcrumb">
                <a class="kuiLocalBreadcrumb__link" href="#/">ML Alert</a>
            </div>
        </div>
    </div>
    <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
        <!-- Bottom row slot, e.g. tabs. -->
        <div data-transclude-slot="bottomRow" class="kuiLocalTabs">
            <a href="#/alert_list" class="kuiLocalTab" ng-class="{'kuiLocalTab-isSelected': hCtrl.path == 'alert_list'}">
                {{'MLA-ALERT_LIST'|translate}}
            </a>
            <a href="#/alert_setting" class="kuiLocalTab" ng-class="{'kuiLocalTab-isSelected': hCtrl.path == 'alert_setting'}">
                {{'MLA-ALERT_SETTINGS'|translate}}
            </a>
        </div>
    </div>
</div>