<div class="kuiModal" style="width: 90%" data-test-subj="dashboardSelectModal">
  <div class="kuiModalHeader" ng-if="title">
    <div class="kuiModalHeader__title" data-test-subj="dashboardSelectModalTitleText">
      {{title}}
    </div>
    <div ng-if="showClose" class="kuiModalHeaderCloseButton kuiIcon fa-times" data-test-subj="dashboardSelectModalCloseButton"
      ng-click="onClose()"></div>
  </div>
  <div class="kuiModalBody">
    <div class="form-group">
      <div class="kuiToolBar">
        <div class="kuiToolBarSearch">
          <div class="kuiToolBarSearchBox">
            <div class="kuiToolBarSearchBox__icon kuiIcon fa-search"></div>
            <input class="kuiToolBarSearchBox__input ng-pristine ng-untouched ng-valid" type="text" placeholder="Search..." aria-label="Filter"
              ng-model="dashboardsFilter" ng-change="searchDashboards()">
          </div>
        </div>
      </div>
      <table class="kuiTable" ng-if="dashboards.length || !dashboardsFilter">
        <thead>
          <tr>
            <th class="kuiTableHeaderCell dashboardTitle">
              Title
            </th>
            <th class="kuiTableHeaderCell">
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dashboard in dashboards | orderBy:'title' | limitTo:20 track by dashboard.id" class="kuiTableRow" ng-click="select(dashboard)">
            <td class="kuiTableRowCell">
              <div class="kuiTableRowCell__liner">
                {{dashboard.title}}
              </div>
            </td>
            <td class="kuiTableRowCell">
              <div class="kuiTableRowCell__liner">
                {{dashboard.description}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 
        kuiNoItems will be replaced with kuiTableInfo
        https://github.com/elastic/kibana/commit/d125835d74b61d2bd0473b031c457542e33e5e26
        -->
      <div class="kuiPanel kuiPanel--centered kuiPanel--withToolBar" ng-if="!dashboards.length && dashboardsFilter">
        <div class="kuiTableInfo kuiNoItems ">
          No dashboards matched your search.
        </div>
      </div>
    </div>
  </div>

  <div class="kuiModalFooter">
    <button class="kuiButton kuiButton--hollow" data-test-subj="dashboardSelectModalCancelButton" ng-click="onCancel()">
      {{cancelButtonText}}
    </button>
  </div>
</div>